# Análise Descritiva dos Dados

## Base: Crime Data in Brazil

### fonte: https://www.kaggle.com/inquisitivecrow/crime-data-in-brazil

### Para começar a 'add' estou importando as bibliotecas Pandas para fazer operações de sql e Seaborn par plotar gráficos.

In [1]:
import pandas as pd
import seaborn as sns

%matplotlib inline
%config IPCompleter.greedy=True

### Instalando e em seguida importando o psycopg2 que usarei para criar a conexão com o banco de dados

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in d:\arquivos de programas\anaconda\lib\site-packages (2.8.3)

In [3]:
import psycopg2

In [5]:
conn = psycopg2.connect(host='localhost',database = 'Criminalidade',user='postgres',password='123456')

### Primeira análise rápida usando pg_stats

#### Foram escolhidos os campos que representam o nome do atributo, fração de nulos existentes em cada atributo, número de valores distintos, valores mais comuns e frequencia dos valores mais comuns

In [6]:
resultado = pd.read_sql_query("""select attname,null_frac,n_distinct,most_common_vals,most_common_freqs from pg_stats where schemaname = 'public' """,conn)

In [7]:
resultado

,attname,null_frac,n_distinct,most_common_vals,most_common_freqs
0,ano_bo,0.0,5.0,"{2016,2014,2013,2015,2017}","[0.3243, 0.236433, 0.2078, 0.203367, 0.0281]"
1,num_bo,0.0,25419.0,"{428,8,2006,2687,1,396,476,638,1669,2432,2605,...","[0.000466667, 0.000366667, 0.000366667, 0.0003..."
2,nome_departamento_circ,0.0,1.0,"{""DECAP ""}",[1.0]
3,nome_seccional_circ,0.0,8.0,"{""DEL.SEC.3Âº OESTE "",""...","[0.172633, 0.156567, 0.141267, 0.127267, 0.113..."
4,id_delegacia,0.0,347.0,"{900020,10211,10216,20249,10247,10326,10226,20...","[0.230333, 0.0192667, 0.0185667, 0.0184, 0.016..."
5,nome_departamento,0.0,17.0,"{""DECAP "",""D...","[0.7335, 0.230333, 0.0202667]"
6,nome_seccional,0.0,61.0,"{""DELEGACIA ELETRONICA "",""D...","[0.230333, 0.1174, 0.1114, 0.100167, 0.0885667..."
7,nome_delegacia,0.0,347.0,"{""DELEGACIA ELETRONICA "",""11Âº D.P. S...","[0.230333, 0.0192667, 0.0185667, 0.0184, 0.016..."
8,cidade,0.0,17.0,"{""S.PAULO ""}",[0.998133]
9,nome_delegacia_circ,0.0,94.0,"{""01Âº D.P. SE "",""03Âº D.P. ...","[0.0306667, 0.0230667, 0.0199667, 0.0193667, 0..."
10,nome_municipio_circ,0.0,1.0,"{""S.PAULO ""}",[1.0]
11,descr_tipo_bo,0.0,2.0,"{""Boletim de OcorrÃªncia "",""...","[0.995267, 0.00473333]"
12,data_ocorrencia_bo,0.0,1492.0,"{10/02/2016,09/03/2016,05/08/2016,26/11/2016,0...","[0.00163333, 0.00153333, 0.00146667, 0.0014666..."
13,hora_ocorrencia_bo,0.0,1148.0,"{""NULL"",20:00,21:00,22:00,19:00,20:30,23:00,14...","[0.275933, 0.0173667, 0.0164333, 0.0161333, 0...."
14,datahora_comunicacao_bo,0.0,1.0,"{""NULL""}",[1.0]
15,flag_status,0.0,2.0,"{Consumado,Tentado}","[0.9942, 0.0058]"
16,rubrica,0.0,25.0,"{""Roubo (art. 157)"",""Furto (art. 155)"",""LesÃ£o...","[0.443233, 0.306067, 0.0711667, 0.069, 0.05526..."
17,descr_conduta,0.0,19.0,"{TRANSEUNTE,VEICULO,""NULL"",OUTROS,""INTERIOR DE...","[0.2873, 0.194467, 0.171367, 0.0855333, 0.0802..."
18,desdobramento,0.0,22.0,"{""NULL"",""caput. Subtrair coisa mÃ³vel alheia, ...","[0.941833, 0.0300667, 0.0217333]"
19,descr_tipolocal,0.0,29.0,"{""Via pÃºblica "",""...","[0.5393, 0.230333, 0.0995333, 0.0474333, 0.015..."
20,descr_subtipolocal,0.0,375.0,"{""Via pÃºblica ...","[0.4671, 0.260933, 0.0797333, 0.0254333, 0.015..."
21,logradouro,0.0,20806.0,"{""InformaÃ§Ã£o protegida (art 31 LAI)"",""AVENID...","[0.0518667, 0.00523333, 0.0037, 0.00356667, 0...."
22,numero_logradouro,0.0,3180.0,"{0,""InformaÃ§Ã£o protegida (art 31 LAI)"",100,1...","[0.121033, 0.0518667, 0.0345, 0.0325667, 0.014..."
23,latitude,0.0,71232.0,"{""NULL"",""InformaÃ§Ã£o protegida (art 31 LAI)"",...","[0.0699, 0.0518667, 0.000966667, 0.000733333, ..."
24,longitude,0.0,71390.0,"{""NULL"",""InformaÃ§Ã£o protegida (art 31 LAI)"",...","[0.0699667, 0.0518667, 0.000966667, 0.0007, 0...."
25,descr_tipo_pessoa,0.0,9.0,"{""VÃ­tima "",""Autor/Vitima ""}","[0.972333, 0.0195]"
26,flag_vitima_fatal,0.0,5.0,"{""NULL"",N}","[0.964233, 0.0310667]"
27,sexo_pessoa,0.0,4.0,"{M,F,I,""NULL""}","[0.559433, 0.433833, 0.00666667, 6.66667e-05]"
28,idade_pessoa,0.0,102.0,"{30,28,29,31,27,33,32,26,23,25,24,22,34,35,20,...","[0.0309, 0.0299333, 0.0298667, 0.0294667, 0.02..."
29,cor_cutis,0.0,9.0,"{""Branca "",""NULL"",""Parda ...","[0.497167, 0.283067, 0.168067, 0.0299333, 0.01..."

####  Ao olhar o campo null_frac, aparentemente vemos uma base sem nenhum valor null, exceto no atributo logradouro onde tem baixíssimo indice de nulos(0.0033% da base), porém olhando com uma maior atenção encontraremos alguns problemas, se observar o atributo datahora_ocorrencia_bo nos campos most_common_vals e most_common_freq, verá que o valor mais comum não é null e sim uma String 'NULL' e além disso a frequencia é 1, ou seja, esse atributo é completamente inválido e deverá ser removido do banco, pois não agrega nenhum valor ás nossas análises.

### Dropando a coluna datahora_ocorrencia_bo

In [8]:
cur = conn.cursor()

In [9]:
cur.execute("""alter table crime drop column datahora_comunicacao_bo """)

In [10]:
pd.read_sql_query("""select attname,null_frac,n_distinct,most_common_vals,most_common_freqs from pg_stats where schemaname = 'public' """,conn)

,attname,null_frac,n_distinct,most_common_vals,most_common_freqs
0,ano_bo,0.0,5.0,"{2016,2014,2013,2015,2017}","[0.3243, 0.236433, 0.2078, 0.203367, 0.0281]"
1,num_bo,0.0,25419.0,"{428,8,2006,2687,1,396,476,638,1669,2432,2605,...","[0.000466667, 0.000366667, 0.000366667, 0.0003..."
2,nome_departamento_circ,0.0,1.0,"{""DECAP ""}",[1.0]
3,nome_seccional_circ,0.0,8.0,"{""DEL.SEC.3Âº OESTE "",""...","[0.172633, 0.156567, 0.141267, 0.127267, 0.113..."
4,id_delegacia,0.0,347.0,"{900020,10211,10216,20249,10247,10326,10226,20...","[0.230333, 0.0192667, 0.0185667, 0.0184, 0.016..."
5,nome_departamento,0.0,17.0,"{""DECAP "",""D...","[0.7335, 0.230333, 0.0202667]"
6,nome_seccional,0.0,61.0,"{""DELEGACIA ELETRONICA "",""D...","[0.230333, 0.1174, 0.1114, 0.100167, 0.0885667..."
7,nome_delegacia,0.0,347.0,"{""DELEGACIA ELETRONICA "",""11Âº D.P. S...","[0.230333, 0.0192667, 0.0185667, 0.0184, 0.016..."
8,cidade,0.0,17.0,"{""S.PAULO ""}",[0.998133]
9,nome_delegacia_circ,0.0,94.0,"{""01Âº D.P. SE "",""03Âº D.P. ...","[0.0306667, 0.0230667, 0.0199667, 0.0193667, 0..."
10,nome_municipio_circ,0.0,1.0,"{""S.PAULO ""}",[1.0]
11,descr_tipo_bo,0.0,2.0,"{""Boletim de OcorrÃªncia "",""...","[0.995267, 0.00473333]"
12,data_ocorrencia_bo,0.0,1492.0,"{10/02/2016,09/03/2016,05/08/2016,26/11/2016,0...","[0.00163333, 0.00153333, 0.00146667, 0.0014666..."
13,hora_ocorrencia_bo,0.0,1148.0,"{""NULL"",20:00,21:00,22:00,19:00,20:30,23:00,14...","[0.275933, 0.0173667, 0.0164333, 0.0161333, 0...."
14,flag_status,0.0,2.0,"{Consumado,Tentado}","[0.9942, 0.0058]"
15,rubrica,0.0,25.0,"{""Roubo (art. 157)"",""Furto (art. 155)"",""LesÃ£o...","[0.443233, 0.306067, 0.0711667, 0.069, 0.05526..."
16,descr_conduta,0.0,19.0,"{TRANSEUNTE,VEICULO,""NULL"",OUTROS,""INTERIOR DE...","[0.2873, 0.194467, 0.171367, 0.0855333, 0.0802..."
17,desdobramento,0.0,22.0,"{""NULL"",""caput. Subtrair coisa mÃ³vel alheia, ...","[0.941833, 0.0300667, 0.0217333]"
18,descr_tipolocal,0.0,29.0,"{""Via pÃºblica "",""...","[0.5393, 0.230333, 0.0995333, 0.0474333, 0.015..."
19,descr_subtipolocal,0.0,375.0,"{""Via pÃºblica ...","[0.4671, 0.260933, 0.0797333, 0.0254333, 0.015..."
20,logradouro,0.0,20806.0,"{""InformaÃ§Ã£o protegida (art 31 LAI)"",""AVENID...","[0.0518667, 0.00523333, 0.0037, 0.00356667, 0...."
21,numero_logradouro,0.0,3180.0,"{0,""InformaÃ§Ã£o protegida (art 31 LAI)"",100,1...","[0.121033, 0.0518667, 0.0345, 0.0325667, 0.014..."
22,latitude,0.0,71232.0,"{""NULL"",""InformaÃ§Ã£o protegida (art 31 LAI)"",...","[0.0699, 0.0518667, 0.000966667, 0.000733333, ..."
23,longitude,0.0,71390.0,"{""NULL"",""InformaÃ§Ã£o protegida (art 31 LAI)"",...","[0.0699667, 0.0518667, 0.000966667, 0.0007, 0...."
24,descr_tipo_pessoa,0.0,9.0,"{""VÃ­tima "",""Autor/Vitima ""}","[0.972333, 0.0195]"
25,flag_vitima_fatal,0.0,5.0,"{""NULL"",N}","[0.964233, 0.0310667]"
26,sexo_pessoa,0.0,4.0,"{M,F,I,""NULL""}","[0.559433, 0.433833, 0.00666667, 6.66667e-05]"
27,idade_pessoa,0.0,102.0,"{30,28,29,31,27,33,32,26,23,25,24,22,34,35,20,...","[0.0309, 0.0299333, 0.0298667, 0.0294667, 0.02..."
28,cor_cutis,0.0,9.0,"{""Branca "",""NULL"",""Parda ...","[0.497167, 0.283067, 0.168067, 0.0299333, 0.01..."

#### Em um segundo olhar, logo vemos que mais atributos tem a String 'NULL' como uns dos valores mais comuns, então agora investigaremos alguns desses atributos de forma um pouco mais minuciosa, começando pelo último atributo cor_cutis.

In [11]:
resultado3 = pd.read_sql_query("""select cor_cutis,count(*) from crime group by cor_cutis order by count(*) desc""",conn)

In [12]:
resultado3

               cor_cutis   count
0   Branca                794943
1                   NULL  454486
2   Parda                 267873
3   Preta                  49322
4   Outros                 20692
5   Amarela                14081
6   Vermelha                 482
7                     25       9
8                     24       8
9                     34       8
10                    32       7
11                    27       6
12                    18       5
13                    40       5
14                    29       4
15                    30       4
16                    37       4
17                    38       4
18                    53       4
19                    28       4
20                    44       4
21                    26       4
22                    21       4
23                    19       3
24                    39       2
25                    51       2
26                  None       2
27                    46       2
28                    43       2
29                    47       2
30                    41       2
31                    42       2
32                    20       2
33                    64       2
34                    33       2
35                    22       1
36                    49       1
37                    56       1
38                    95       1
39                    52       1
40                    57       1
41                    61       1
42                    55       1
43                    59       1
44                    79       1
45                    58       1
46                    31       1
47                    35       1
48                    48       1
49                    62       1
50                     8       1

#### Com esse teste rapidamente percebemos 3 coisas, primeira de aproximadamente 1.602.000 registros, 2 em cor_cutis são realmente nulos, segunda os campos verdadeiramente nulos estão com a String 'NULL' e somam cerca de 400 mil registros, terceira apareceram vários números, logo, não são cores da pele. Vamos tentar descobrir a causa disso, vamos seleconar os dados onde cor_cutis é igual aos números.

In [13]:
resultado4 = pd.read_sql_query("""select * from crime where not (cor_cutis like '%Branca%') and not (cor_cutis like '%Parda%') and cor_cutis not like '%Amarela%' and cor_cutis not like '%Vermelha%' and cor_cutis not like '%Preta%'  and cor_cutis not like '%Outros%' and cor_cutis is not null and cor_cutis not like '%NULL%'

""",conn)

In [14]:
resultado4

,id_delegacia,nome_departamento,nome_seccional,nome_delegacia,cidade,ano_bo,num_bo,nome_departamento_circ,nome_seccional_circ,nome_delegacia_circ,...,descr_subtipolocal,logradouro,numero_logradouro,latitude,longitude,descr_tipo_pessoa,flag_vitima_fatal,sexo_pessoa,idade_pessoa,cor_cutis
0,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06Âº D.P. METROPOLITANO,S.PAULO,2013,302,DECAP,DEL.SEC.1Âº CENTRO,01Âº D.P. SE,...,Metrov. e ferroviÃ¡rio metrop.-Desembarque ...,ENTRE BRAS/SÃ‰,DESEMBARQUE,999,-23.54938522,-46.63325723,VÃ­tima,NULL,M,43
1,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06Âº D.P. METROPOLITANO,S.PAULO,2015,900016,DECAP,DEL.SEC.5Âº LESTE,30Âº D.P. TATUAPE,...,Metrov. e ferroviÃ¡rio metrop.-outros ...,ESTAÃ‡ÃƒO TATUAPÃ‰,MEZANINO AREA LIVRE,99,NULL,NULL,VÃ­tima,NULL,M,55
2,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06Âº D.P. METROPOLITANO,S.PAULO,2015,900016,DECAP,DEL.SEC.5Âº LESTE,30Âº D.P. TATUAPE,...,Metrov. e ferroviÃ¡rio metrop.-outros ...,ESTAÃ‡ÃƒO TATUAPÃ‰,MEZANINO AREA LIVRE,99,NULL,NULL,VÃ­tima,NULL,F,25
3,10217,DECAP,DEL.SEC.2Âº SUL,17Âº D.P. DOUTOR ALDO GALIANO,S.PAULO,2015,3505,DECAP,DEL.SEC.2Âº SUL,17Âº D.P. DOUTOR ALDO GALIANO,...,Via pÃºblica ...,RUA ISAURA ABAD GIACOMELLI,,87,NULL,NULL,VÃ­tima,NULL,M,25
4,10217,DECAP,DEL.SEC.2Âº SUL,17Âº D.P. DOUTOR ALDO GALIANO,S.PAULO,2015,3505,DECAP,DEL.SEC.2Âº SUL,17Âº D.P. DOUTOR ALDO GALIANO,...,Via pÃºblica ...,RUA ISAURA ABAD GIACOMELLI,,87,NULL,NULL,VÃ­tima,NULL,M,24
5,10226,DECAP,DEL.SEC.2Âº SUL,26Âº D.P. SACOMA,S.PAULO,2015,6687,DECAP,DEL.SEC.2Âº SUL,95Âº D.P. HELIÃ“POLIS,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA ALMIRANTE DELAMARE,800,-23.60736817,-46.59262144,VÃ­tima,NULL,F,51
6,10226,DECAP,DEL.SEC.2Âº SUL,26Âº D.P. SACOMA,S.PAULO,2015,6687,DECAP,DEL.SEC.2Âº SUL,95Âº D.P. HELIÃ“POLIS,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA ALMIRANTE DELAMARE,800,-23.60736817,-46.59262144,VÃ­tima,NULL,M,47
7,10226,DECAP,DEL.SEC.2Âº SUL,26Âº D.P. SACOMA,S.PAULO,2015,6687,DECAP,DEL.SEC.2Âº SUL,95Âº D.P. HELIÃ“POLIS,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA ALMIRANTE DELAMARE,800,-23.60736817,-46.59262144,VÃ­tima,NULL,F,79
8,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06Âº D.P. METROPOLITANO,S.PAULO,2013,2816,DECAP,DEL.SEC.1Âº CENTRO,06Âº D.P. CAMBUCI,...,Metrov. e ferroviÃ¡rio metrop.-vagÃ£o ...,ENTRE ESTAÂ§ÃƒO S.JOAQUIM,LIBERDADE,999,-23.57806782,-46.6405597,VÃ­tima,NULL,F,30
9,10248,DECAP,DEL.SEC.6Âº SANTO AMARO,48Âº D.P. CIDADE DUTRA,S.PAULO,2013,1372,DECAP,DEL.SEC.6Âº SANTO AMARO,101Âº D.P. JDIM IMBUIAS,...,Serralheria-Acesso,/Escada/Elevador/Passarela ...,R DR OSCAR ANDRADE LEMOS,910,-23.73392446,-46.69437827,VÃ­tima,NULL,M,56
10,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06Âº D.P. METROPOLITANO,S.PAULO,2015,29,DECAP,DEL.SEC.1Âº CENTRO,78Âº D.P. JARDINS,...,Metrov. e ferroviÃ¡rio metrop.-vagÃ£o ...,ESTAÃ‡ÃƒO CONSOLAÃ‡ÃƒO/CLINICAS,INTERIOR DO,99,NULL,NULL,VÃ­tima,NULL,F,24
11,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06Âº D.P. METROPOLITANO,S.PAULO,2015,221,DECAP,DEL.SEC.1Âº CENTRO,01Âº D.P. SE,...,Metrov. e ferroviÃ¡rio metrop.-outros ...,ESTAÃ‡ÃƒO GUIL,ESPERANCA/SE,99,NULL,NULL,VÃ­tima,NULL,F,28
12,10342,DECAP,DEL.SEC.1Âº CENTRO,78Âº D.P. JARDINS,S.PAULO,2013,4438,DECAP,DEL.SEC.1Âº CENTRO,04Âº D.P. CONSOLAÃ‡ÃƒO,...,Via pÃºblica ...,R BELA CINTRA,PRÃ“X. DA R MATIAS AIRES,0,-23.55489934,-46.65683035,VÃ­tima,NULL,F,34
13,10344,DECAP,DEL.SEC.6Âº SANTO AMARO,80Âº D.P. VILA JOANIZA,S.PAULO,2014,123,DECAP,DEL.SEC.6Âº SANTO AMARO,80Âº D.P. VILA JOANIZA,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,R PONTEIOS,66,-23.67901695,-46.65744418,VÃ­tima,NULL,M,38
14,10367,DECAP,DEL.SEC.3Âº OESTE,93Âº D.P. JAGUARÃ‰,S.PAULO,2014,4355,DECAP,DEL.SEC.3Âº OESTE,93Âº D.P. JAGUARÃ‰,...,Via pÃºblica ...,PONTE DO JAGUA&#340,E,0,NULL,NULL,VÃ­tima,NULL,F,24
15,10372,DECAP,DEL.SEC.6Âº SANTO AMARO,99Âº D.P. CAMPO GRANDE,S.PAULO,2014,3718,DECAP,DEL.SEC.6Âº SANTO AMARO,99Âº D.P. CAMPO GRANDE,...,Olaria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA INTERLAGOS,4300,-23.68540354,-46.69280304,VÃ­tima,NULL,F,44
16,10375,DECAP,DEL.SEC.6Âº SANTO AMARO,102Âº D.P. SOCORRO,S.PAULO,2015,1913,DECAP,DEL.SEC.6Âº SANTO AMARO,102Âº D.P. SOCORRO,...,MetalÃºrgica-Acesso,/Escada/Elevador/Passarela ...,RUA VASSOURAL,315,-23.67724166,-46.70886718,VÃ­tima,NULL,M,29
17,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,Sao Paulo,2014,363205,DECAP,DEL.SEC.4Âº NORTE,45Âº D.P. V BRASILANDIA,...,Outros ...,None,Rua Aparecida do Taboado,390,NULL,NULL,VÃ­tima,NULL,F,42
18,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,491541,DECAP,DEL.SEC.1Âº CENTRO,04Âº D.P. CONSOLAÃ‡ÃƒO,...,Outros ...,None,Avenida Paulista,2163,NULL,NULL,VÃ­tima,NULL,F,18
19,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,524279,DECAP,DEL.SEC.3Âº OESTE,75Âº D.P. JARDIM ARPOADOR,...,Outros ...,None,rua francisco luz,120,NULL,NULL,VÃ­tima,NULL,M,21
20,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,856900,DECAP,DEL.SEC.3Âº OESTE,87Âº D.P. V. P. BARRETO,...,Outros ...,None,Rua dos CamarÃµes,0,-23.44447445,-46.71465992,VÃ­tima,NULL,F,30
21,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,956197,DECAP,DEL.SEC.2Âº SUL,97Âº D.P. AMERICANOPOLIS,...,Outros ...,rua,maria polidorio,0,NULL,NULL,VÃ­tima,NULL,F,33
22,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1050601,DECAP,DEL.SEC.7Âº ITAQUERA,103Âº D.P. COHABII/ITAQU.,...,Outros ...,R,BotuporÃ£,198,NULL,NULL,VÃ­tima,NULL,M,30
23,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1119407,DECAP,DEL.SEC.4Âº NORTE,28Âº D.P. FREGUESIA DO O,...,Outros ...,None,Av. Dep. EmÃ­lio Carlos,3517,NULL,NULL,VÃ­tima,NULL,M,53
24,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1149737,DECAP,DEL.SEC.3Âº OESTE,23Âº D.P. PERDIZES,...,Outros ...,None,Av. Dr. Arnaldo,715,NULL,NULL,VÃ­tima,NULL,F,46
25,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1216938,DECAP,DEL.SEC.3Âº OESTE,15Âº D.P. DR. LUC. H BEIGUELMAN,...,Outros ...,None,Av. Brg. LuÃ­s AntÃ´nio,4469,NULL,NULL,VÃ­tima,NULL,F,34
26,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1311526,DECAP,DEL.SEC.2Âº SUL,17Âº D.P. DOUTOR ALDO GALIANO,...,Outros ...,Av,Nazare,1361,NULL,NULL,VÃ­tima,NULL,F,57
27,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1362253,DECAP,DEL.SEC.2Âº SUL,96Âº D.P. MONÃ‡Ã•ES,...,Outros ...,None,"R. OlimpÃ­adas - Itaim Bibi, SÃ£o Paulo",360,NULL,NULL,VÃ­tima,NULL,F,25
28,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1471769,DECAP,DEL.SEC.8Âº SAO MATEUS,70Âº D.P. VILA EMA,...,Outros ...,None,Avenida do OratÃ³rio,4330,NULL,NULL,VÃ­tima,NULL,M,19
29,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,149749,DECAP,DEL.SEC.6Âº SANTO AMARO,99Âº D.P. CAMPO GRANDE,...,Outros ...,None,Avenida Sargento Geraldo SantAna,500,NULL,NULL,VÃ­tima,NULL,F,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,544316,DECAP,DEL.SEC.6Âº SANTO AMARO,101Âº D.P. JDIM IMBUIAS,...,Outros ...,av,belmira marin,1000,-23.73943173,-46.69158615,VÃ­tima,NULL,M,40
94,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,571929,DECAP,DEL.SEC.3Âº OESTE,14Âº D.P. PINHEIROS,...,Outros ...,av,nacoes unidas,2000,NULL,NULL,VÃ­tima,NULL,F,32
95,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,1126104,DECAP,DEL.SEC.3Âº OESTE,87Âº D.P. V. P. BARRETO,...,Outros ...,RUA,RAIMUNDO PEREIRA DE MAGALHOES,2876,-23.48559307,-46.72435006,VÃ­tima,NULL,F,25
96,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,1145768,DECAP,DEL.SEC.6Âº SANTO AMARO,11Âº D.P. SANTO AMARO,...,Outros ...,Rua,Dr. OvÃ­dio Pires de Campos,225,-23.6493109,-46.70650902,VÃ­tima,NULL,F,24
97,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,601724,DECAP,DEL.SEC.3Âº OESTE,07Âº D.P. LAPA,...,Outros ...,R,JOHN HARRISON,385,NULL,NULL,VÃ­tima,NULL,F,39
98,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,350242,DECAP,DEL.SEC.6Âº SANTO AMARO,11Âº D.P. SANTO AMARO,...,Outros ...,None,"Avenida Washington LuÃ­s, s/nÂº",500,NULL,NULL,VÃ­tima,NULL,M,18
99,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,357093,DECAP,DEL.SEC.7Âº ITAQUERA,65Âº D.P. ARTUR ALVIM,...,Outros ...,None,"Av JosÃ© Pinheiro Borges - Itaquera, SÃ£o",0,NULL,NULL,VÃ­tima,NULL,F,40
100,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,640579,DECAP,DEL.SEC.7Âº ITAQUERA,50Âº D.P. ITAIM PAULISTA,...,Outros ...,r,taiati,51,NULL,NULL,VÃ­tima,NULL,M,38
101,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,393244,DECAP,DEL.SEC.1Âº CENTRO,01Âº D.P. SE,...,Outros ...,,avenida Exteiror,0,NULL,NULL,VÃ­tima,NULL,F,26
102,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,653828,DECAP,DEL.SEC.4Âº NORTE,13Âº D.P. CASA VERDE,...,Outros ...,,Rua JoÃ£o Rudge,340,NULL,NULL,VÃ­tima,NULL,F,25
103,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,408543,DECAP,DEL.SEC.1Âº CENTRO,77Âº D.P. SANTA CECILIA,...,Outros ...,r,dona veridiana,0,NULL,NULL,VÃ­tima,NULL,F,38
104,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,913075,DECAP,DEL.SEC.6Âº SANTO AMARO,11Âº D.P. SANTO AMARO,...,Outros ...,None,PraÃ§a Floriano Peixoto,0,-23.65226585,-46.7071346,VÃ­tima,NULL,F,19
105,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,1309982,DECAP,DEL.SEC.4Âº NORTE,28Âº D.P. FREGUESIA DO O,...,Outros ...,Rua,Guaicurus,1438,-23.49725799,-46.70695084,VÃ­tima,NULL,M,64
106,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,542280,DECAP,DEL.SEC.3Âº OESTE,14Âº D.P. PINHEIROS,...,Outros ...,None,Rua RodÃ©sia,80,NULL,NULL,VÃ­tima,NULL,F,25
107,10328,DECAP,DEL.SEC.7Âº ITAQUERA,64Âº D.P. CID.AE CARVALHO,S.PAULO,2016,4305,DECAP,DEL.SEC.7Âº ITAQUERA,62Âº D.P. ERMELINO MATARAZZO,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA AGUIA DE HAIA,4281,-23.50995504,-46.4775127,VÃ­tima,NULL,M,61
108,20230,DECAP,DEL.SEC.5Âº LESTE,30Âº D.P. TATUAPE,S.PAULO,2016,1446,DECAP,DEL.SEC.4Âº NORTE,13Âº D.P. CASA VERDE,...,MetalÃºrgica-Acesso,/Escada/Elevador/Passarela ...,RUA URBANO DUARTE,732,-23.50440448,-46.65601203,VÃ­tima,NULL,M,8
109,30129,DEMACRO,DEL.SEC.DIADEMA,04Âº D.P. DIADEMA,S.PAULO,2017,92,DECAP,DEL.SEC.6Âº SANTO AMARO,98Âº D.P. JARDIM MIRIAM,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,RUA DO RETIRO,0,-23.69369886,-46.64041038,VÃ­tima,NULL,M,25
110,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,261711,DECAP,DEL.SEC.1Âº CENTRO,12Âº D.P. PARI,...,Outros ...,Av,Rangel Pestana,1000,-23.54140251,-46.61676681,VÃ­tima,NULL,F,62
111,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,2245,DECAP,DEL.SEC.4Âº NORTE,28Âº D.P. FREGUESIA DO O,...,Outros ...,Rua Ferraz de Vasconcelos,,0,-23.4825201,-46.67749205,VÃ­tima,NULL,M,37
112,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,524009,DECAP,DEL.SEC.8Âº SAO MATEUS,66Âº D.P. JDIM ARICANDUVA,...,Outros ...,AV,ARICANDUVA,5000,-23.57613021,-46.50190039,VÃ­tima,NULL,M,34
113,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,319932,DECAP,DEL.SEC.3Âº OESTE,46Âº D.P. PERUS,...,Outros ...,rua,ernesto botoni,78,-23.4133936,-46.73206178,VÃ­tima,NULL,M,43
114,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,749929,DECAP,DEL.SEC.6Âº SANTO AMARO,85Âº D.P. JARDIM MIRNA,...,Outros ...,Rua Maria Santos Ferreira,,87,-23.76813341,-46.69608125,VÃ­tima,NULL,F,21
115,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,896461,DECAP,DEL.SEC.3Âº OESTE,91Âº D.P. CEASA,...,Outros ...,Av. das Na,Ã³es Unidas,1800,-23.52042777,-46.74609038,VÃ­tima,NULL,F,21
116,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,264210,DECAP,DEL.SEC.8Âº SAO MATEUS,66Âº D.P. JDIM ARICANDUVA,...,Outros ...,rua,Arturo Martini,309,-23.57613021,-46.50190039,VÃ­tima,NULL,F,28
117,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,482967,DECAP,DEL.SEC.5Âº LESTE,58Âº D.P. VILA FORMOSA,...,Outros ...,RUA,CATANDUVA,81,-23.55774139,-46.52587695,VÃ­tima,NULL,F,31
118,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,657487,DECAP,DEL.SEC.8Âº SAO MATEUS,55Âº D.P. PARQUE S.RAFAEL,...,Outros ...,Rua,Teodosio da Rocha,198,-23.6247067,-46.47132469,VÃ­tima,NULL,F,29
119,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,374095,DECAP,DEL.SEC.6Âº SANTO AMARO,101Âº D.P. JDIM IMBUIAS,...,Outros ...,rua,terezine,189,-23.73301568,-46.69668898,VÃ­tima,NULL,M,27
120,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,564947,DECAP,DEL.SEC.5Âº LESTE,29Âº D.P. VILA PRUDENTE,...,Outros ...,av,Cerejeiras,888,-23.5743212,-46.56943933,VÃ­tima,NULL,F,34
121,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2017,341974,DECAP,DEL.SEC.6Âº SANTO AMARO,102Âº D.P. SOCORRO,...,Outros ...,None,Rua Amaro Velho,200,-23.66679897,-46.72312032,VÃ­tima,NULL,F,21
122,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,1582564,DECAP,DEL.SEC.6Âº SANTO AMARO,11Âº D.P. SANTO AMARO,...,Outros ...,avenida,padre jose maria,400,-23.65366076,-46.71689195,VÃ­tima,NULL,M,48

#### Perceba que a linha por algum motivo deu um SHIFT na hora do ETL e corrompeu esses dados, ou seja, a idade está em cor_cutis, como achamos esse resultado no último atributo, todas as linhas afetadas por esse shift estão presentes, logo apagaremos todas essas linhas da nossa base de dados, juntamente com as linhas onde 'cor_cutis' = "NULL" e onde os dados são verdadeiramente nulos.

In [15]:
cur = conn.cursor()

In [16]:
cur.execute("""delete from crime where not (cor_cutis like '%Branca%') and not (cor_cutis like '%Parda%') and cor_cutis not like '%Amarela%' and cor_cutis not like '%Vermelha%' and cor_cutis not like '%Preta%'  and cor_cutis not like '%Outros%'""")

In [18]:
resultado5 = pd.read_sql_query("""select cor_cutis,count(*) from crime group by cor_cutis order by count(*) desc""",conn)

In [19]:
resultado5

              cor_cutis   count
0  Branca                794943
1  Parda                 267873
2  Preta                  49322
3  Outros                 20692
4  Amarela                14081
5  Vermelha                 482
6                  None       2

#### Agora vamos analisar outras colunas que requerem uma formatação especial, por exemplo, a coluna hora_ocorrencia_bo que registra a hora da ocorrencia de um bo e está em um formato txt.

In [20]:
resultado6 = pd.read_sql_query("""select hora_ocorrencia_bo,count(*) from crime group by hora_ocorrencia_bo order by count(*) desc""",conn)

In [21]:
resultado6

     hora_ocorrencia_bo   count
0                  NULL  129003
1                 20:00   23602
2                 21:00   23248
3                 22:00   22016
4                 19:00   21124
5                 14:00   18842
6                 20:30   18724
7                 23:00   18551
8                 15:00   18289
9                 12:00   17930
10                16:00   17564
11                21:30   17054
12                18:00   16983
13                19:30   16728
14                13:00   16676
15                11:00   16080
16                17:00   15863
17                22:30   15826
18                10:00   15800
19                18:30   14459
20                23:30   12900
21                09:00   12764
22                11:30   12639
23                15:30   12526
24                12:30   12327
25                13:30   12178
26                10:30   11892
27                14:30   11878
28                17:30   11733
29                06:00   11523
...                 ...     ...
1414              02:42      27
1415              03:19      26
1416              03:39      26
1417              02:29      25
1418              05:54      25
1419              04:53      25
1420              05:29      24
1421              02:43      24
1422              05:27      24
1423              03:01      24
1424              05:39      24
1425              03:51      23
1426              04:01      23
1427              05:44      22
1428              03:53      22
1429              06:01      22
1430              04:14      21
1431              05:01      21
1432              03:54      21
1433              03:31      20
1434              04:02      20
1435              04:33      20
1436              05:14      20
1437              04:22      19
1438              04:41      15
1439              04:21      15
1440              05:09      14
1441              23H00       2
1442              15H50       2
1443               1910       1

[1444 rows x 2 columns]

#### Ao final do resultado6, observamos que aparecem alguns dados em formato impróprio para a manipulação no banco de dados, agora faremos uma verificação se são os unicos casos em que isso ocorre ou se existem outros casos com mais número de registros onde isso ocorre, ou seja, onde hora_ocorrencia_bo é diferente de String 'NULL' e diferente de formato 12:00.

In [56]:
resultado7 = pd.read_sql_query("""select hora_ocorrencia_bo from crime where hora_ocorrencia_bo not like '%:%' and hora_ocorrencia_bo not like 'NULL'""",conn)

In [57]:
resultado7

  hora_ocorrencia_bo
0              15H50
1              15H50
2               1910
3              23H00
4              23H00

#### Como existem poucos dados que foram inseridos com uma formatação inadequada, faremos 3 alterações para mudar os valores desse atributo para o formato correto

In [ ]:
cur = conn.cursor()

In [24]:
cur.execute("""update crime set hora_ocorrencia_bo = '15:50' where hora_ocorrencia_bo = '15H50' """)

In [29]:
cur.execute("""update crime set hora_ocorrencia_bo = '23:00' where hora_ocorrencia_bo = '23H00' """)

In [28]:
cur.execute("""update crime set hora_ocorrencia_bo = '19:10' where hora_ocorrencia_bo = '1910' """)

In [30]:
resultado8 = pd.read_sql_query("""select hora_ocorrencia_bo from crime where hora_ocorrencia_bo not like '%:%' and hora_ocorrencia_bo not like 'NULL'""",conn)

In [55]:
resultado8

        hora_ocorrencia_bo
0                 06:20:00
1                 06:10:00
2                 05:30:00
3                 12:05:00
4                 05:50:00
5                 23:20:00
6                 06:45:00
7                 14:30:00
8                 20:00:00
9                 05:30:00
10                15:00:00
11                18:00:00
12                07:30:00
13                07:00:00
14                18:00:00
15                08:20:00
16                08:40:00
17                11:15:00
18                07:30:00
19                09:20:00
20                11:20:00
21                15:20:00
22                12:35:00
23                08:00:00
24                16:40:00
25                10:45:00
26                18:07:00
27                21:15:00
28                12:50:00
29                07:15:00
...                    ...
1018362           16:30:00
1018363           23:30:00
1018364           16:30:00
1018365           21:40:00
1018366           14:00:00
1018367           07:00:00
1018368           13:15:00
1018369           16:20:00
1018370           00:00:00
1018371           22:55:00
1018372           13:00:00
1018373           05:30:00
1018374           09:00:00
1018375           08:30:00
1018376           06:00:00
1018377           10:30:00
1018378           13:00:00
1018379           10:30:00
1018380           20:00:00
1018381           00:10:00
1018382           00:30:00
1018383           08:30:00
1018384           13:00:00
1018385           09:00:00
1018386           18:00:00
1018387           15:50:00
1018388           15:50:00
1018389           19:10:00
1018390           23:00:00
1018391           23:00:00

[1018392 rows x 1 columns]

#### Agora vamos converter o horario para o formato certo

In [33]:
resultado9 = pd.read_sql_query("""select hora_ocorrencia_bo from crime where hora_ocorrencia_bo like '%:%' """,conn)

In [34]:
resultado9

        hora_ocorrencia_bo
0                    06:20
1                    06:10
2                    05:30
3                    12:05
4                    05:50
5                    23:20
6                    06:45
7                    14:30
8                    20:00
9                    05:30
10                   15:00
11                   18:00
12                   07:30
13                   07:00
14                   18:00
15                   08:20
16                   08:40
17                   11:15
18                   07:30
19                   09:20
20                   11:20
21                   15:20
22                   12:35
23                   08:00
24                   16:40
25                   10:45
26                   18:07
27                   21:15
28                   12:50
29                   07:15
...                    ...
1018362              16:30
1018363              23:30
1018364              16:30
1018365              21:40
1018366              14:00
1018367              07:00
1018368              13:15
1018369              16:20
1018370              00:00
1018371              22:55
1018372              13:00
1018373              05:30
1018374              09:00
1018375              08:30
1018376              06:00
1018377              10:30
1018378              13:00
1018379              10:30
1018380              20:00
1018381              00:10
1018382              00:30
1018383              08:30
1018384              13:00
1018385              09:00
1018386              18:00
1018387              15:50
1018388              15:50
1018389              19:10
1018390              23:00
1018391              23:00

[1018392 rows x 1 columns]

#### Formatando o horario

In [36]:
resultado8['hora_ocorrencia_bo'] = pd.to_datetime(resultado9['hora_ocorrencia_bo'])

In [37]:
resultado8['hora_ocorrencia_bo'] = pd.to_datetime(resultado8['hora_ocorrencia_bo'], format= '%H:%M').dt.time

In [39]:
resultado8

        hora_ocorrencia_bo
0                 06:20:00
1                 06:10:00
2                 05:30:00
3                 12:05:00
4                 05:50:00
5                 23:20:00
6                 06:45:00
7                 14:30:00
8                 20:00:00
9                 05:30:00
10                15:00:00
11                18:00:00
12                07:30:00
13                07:00:00
14                18:00:00
15                08:20:00
16                08:40:00
17                11:15:00
18                07:30:00
19                09:20:00
20                11:20:00
21                15:20:00
22                12:35:00
23                08:00:00
24                16:40:00
25                10:45:00
26                18:07:00
27                21:15:00
28                12:50:00
29                07:15:00
...                    ...
1018362           16:30:00
1018363           23:30:00
1018364           16:30:00
1018365           21:40:00
1018366           14:00:00
1018367           07:00:00
1018368           13:15:00
1018369           16:20:00
1018370           00:00:00
1018371           22:55:00
1018372           13:00:00
1018373           05:30:00
1018374           09:00:00
1018375           08:30:00
1018376           06:00:00
1018377           10:30:00
1018378           13:00:00
1018379           10:30:00
1018380           20:00:00
1018381           00:10:00
1018382           00:30:00
1018383           08:30:00
1018384           13:00:00
1018385           09:00:00
1018386           18:00:00
1018387           15:50:00
1018388           15:50:00
1018389           19:10:00
1018390           23:00:00
1018391           23:00:00

[1018392 rows x 1 columns]

### Aproveitando a onda dos horarios, vamos fazer um estudo de qual horario aparece mais.

In [53]:
resultado10 = pd.read_sql_query("""select hora_ocorrencia_bo, count(*) from crime group by hora_ocorrencia_bo order by count(*) """,conn)

In [54]:
resultado10

     hora_ocorrencia_bo   count
0                  1910       1
1                 23H00       2
2                 15H50       2
3                 05:09      16
4                 04:41      18
5                 04:21      18
6                 04:02      20
7                 04:22      21
8                 05:14      22
9                 04:33      22
10                03:54      22
11                03:31      23
12                03:53      23
13                06:01      23
14                03:51      24
15                04:14      24
16                05:01      24
17                04:01      25
18                02:43      26
19                03:39      26
20                05:44      27
21                02:29      27
22                03:01      27
23                04:09      28
24                05:29      28
25                03:19      28
26                04:53      28
27                05:54      28
28                03:52      29
29                05:39      29
...                 ...     ...
1414              17:30   13215
1415              10:30   13235
1416              06:00   13345
1417              14:30   13420
1418              13:30   13697
1419              12:30   13858
1420              15:30   14064
1421              11:30   14074
1422              09:00   14173
1423              23:30   15105
1424              18:30   16672
1425              10:00   17428
1426              17:00   17757
1427              11:00   17871
1428              22:30   18648
1429              13:00   18666
1430              18:00   19199
1431              19:30   19626
1432              16:00   19654
1433              12:00   19848
1434              21:30   20059
1435              15:00   20405
1436              14:00   20973
1437              23:00   21563
1438              20:30   22071
1439              19:00   24374
1440              22:00   25592
1441              21:00   27108
1442              20:00   27572
1443               NULL  436156

[1444 rows x 2 columns]

In [52]:
sns.pairplot(resultado10)

IndexError: index -1 is out of bounds for axis 0 with size 0