# Análise Descritiva dos Dados

## Base: Crime Data in Brazil

### fonte: https://www.kaggle.com/inquisitivecrow/crime-data-in-brazil

### Para começar a 'add' estou importando as bibliotecas Pandas para fazer operações de sql e Seaborn par plotar gráficos.

In [1]:
import pandas as pd
import seaborn as sns

%matplotlib inline
%config IPCompleter.greedy=True

### Instalando e em seguida importando o psycopg2 que usarei para criar a conexão com o banco de dados

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\rafae\anaconda3\lib\site-packages (2.7.6.1)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [3]:
import psycopg2

In [4]:
conn = psycopg2.connect(host='localhost',database = 'criminalidade',user='postgres',password='123456')

### Primeira análise rápida usando pg_stats

#### Foram escolhidos os campos que representam o nome do atributo, fração de nulos existentes em cada atributo, número de valores distintos, valores mais comuns e frequencia dos valores mais comuns

In [5]:
resultado = pd.read_sql_query("""select attname,null_frac,n_distinct,most_common_vals,most_common_freqs from pg_stats where schemaname = 'public' """,conn)

In [6]:
resultado

,attname,null_frac,n_distinct,most_common_vals,most_common_freqs
0,id_delegacia,0.000000,328.0,"{900020,10211,10216,20249,10247,10326,10226,10...","[0.230567, 0.0201, 0.0188, 0.0178667, 0.015766..."
1,nome_departamento,0.000000,18.0,"{""DECAP "",""D...","[0.732533, 0.230567, 0.0212333]"
2,nome_seccional,0.000000,58.0,"{""DELEGACIA ELETRONICA "",""D...","[0.230567, 0.116033, 0.115467, 0.104633, 0.085..."
3,nome_delegacia,0.000000,328.0,"{""DELEGACIA ELETRONICA "",""11º D.P. SA...","[0.230567, 0.0201, 0.0188, 0.0178667, 0.015766..."
4,cidade,0.000000,12.0,"{""S.PAULO ""}",[0.998533]
5,ano_bo,0.000000,5.0,"{2016,2014,2013,2015,2017}","[0.325867, 0.235767, 0.211867, 0.198467, 0.028..."
6,num_bo,0.000000,25439.0,"{17,308,55,108,329,579,600,1338,1738,35,122,15...","[0.0004, 0.0004, 0.000366667, 0.000366667, 0.0..."
7,nome_departamento_circ,0.000000,1.0,"{""DECAP ""}",[1.0]
8,nome_seccional_circ,0.000000,8.0,"{""DEL.SEC.3º OESTE "",""D...","[0.172833, 0.153033, 0.143333, 0.1311, 0.11226..."
9,nome_delegacia_circ,0.000000,94.0,"{""01º D.P. SE "",""03º D.P. CA...","[0.0302, 0.0242, 0.02, 0.0192333, 0.0189, 0.01..."
10,nome_municipio_circ,0.000000,1.0,"{""S.PAULO ""}",[1.0]
11,descr_tipo_bo,0.000000,2.0,"{""Boletim de Ocorrência "",""T...","[0.9944, 0.0056]"
12,data_ocorrencia_bo,0.000000,1492.0,"{29/05/2016,27/11/2016,25/02/2016,31/01/2016,1...","[0.00173333, 0.00146667, 0.0014, 0.0014, 0.001..."
13,hora_ocorrencia_bo,0.000000,1166.0,"{""NULL"",21:00,20:00,22:00,19:00,23:00,20:30,15...","[0.2716, 0.0168, 0.0166333, 0.0165667, 0.0149,..."
14,datahora_comunicacao_bo,0.000000,1.0,"{""NULL""}",[1.0]
15,flag_status,0.000000,2.0,"{Consumado,Tentado}","[0.9949, 0.0051]"
16,rubrica,0.000000,28.0,"{""Roubo (art. 157)"",""Furto (art. 155)"",""Lesão ...","[0.4481, 0.301567, 0.0723667, 0.0711, 0.0548, ..."
17,descr_conduta,0.000000,18.0,"{TRANSEUNTE,VEICULO,""NULL"",OUTROS,""INTERIOR DE...","[0.284867, 0.198, 0.169967, 0.0875, 0.0813667,..."
18,desdobramento,0.000000,23.0,"{""NULL"",""caput. Subtrair coisa móvel alheia, m...","[0.9385, 0.0311, 0.0245333]"
19,descr_tipolocal,0.000000,30.0,"{""Via pública "",""O...","[0.5383, 0.230567, 0.1009, 0.0461, 0.0170667, ..."
20,descr_subtipolocal,0.000000,367.0,"{""Via pública ...","[0.465867, 0.261433, 0.0798333, 0.0249, 0.0158..."
21,logradouro,0.000033,21119.0,"{""Informação protegida (art 31 LAI)"",""AVENIDA ...","[0.0547333, 0.00456667, 0.00316667, 0.00313333..."
22,numero_logradouro,0.000000,3197.0,"{0,""Informação protegida (art 31 LAI)"",100,1,2...","[0.1215, 0.0547333, 0.0348667, 0.0332667, 0.01..."
23,latitude,0.000000,73336.0,"{""NULL"",""Informação protegida (art 31 LAI)"",-2...","[0.0690667, 0.0547333, 0.0012, 0.000966667, 0...."
24,longitude,0.000000,73406.0,"{""NULL"",""Informação protegida (art 31 LAI)"",-4...","[0.0690667, 0.0547333, 0.0012, 0.000966667, 0...."
25,descr_tipo_pessoa,0.000000,9.0,"{""Vítima "",""Autor/Vitima ""}","[0.972433, 0.0182333]"
26,flag_vitima_fatal,0.000000,5.0,"{""NULL"",N}","[0.9668, 0.0287333]"
27,sexo_pessoa,0.000000,5.0,"{M,F}","[0.557033, 0.4342]"
28,idade_pessoa,0.000000,101.0,"{28,31,27,32,24,30,26,33,25,22,29,34,23,35,20,...","[0.0309667, 0.0309333, 0.0306333, 0.0304, 0.02..."
29,cor_cutis,0.000000,8.0,"{""Branca "",""NULL"",""Parda ...","[0.495033, 0.2831, 0.167867, 0.0310667, 0.0139..."

####  Ao olhar o campo null_frac, aparentemente vemos uma base sem nenhum valor null, exceto no atributo logradouro onde tem baixíssimo indice de nulos(0.0033% da base), porém olhando com uma maior atenção encontraremos alguns problemas, se observar o atributo datahora_ocorrencia_bo nos campos most_common_vals e most_common_freq, verá que o valor mais comum não é null e sim uma String 'NULL' e além disso a frequencia é 1, ou seja, esse atributo é completamente inválido e deverá ser removido do banco, pois não agrega nenhum valor ás nossas análises.

### Dropando a coluna datahora_ocorrencia_bo

In [7]:
resultado2 = pd.read_sql_query("""alter table crime drop column datahora_comunicacao_bo """,conn)

TypeError: 'NoneType' object is not iterable

#### Em um segundo olhar, logo vemos que mais atributos tem a String 'NULL' como uns dos valores mais comuns, então agora investigaremos alguns desses atributos de forma um pouco mais minuciosa, começando pelo último atributo cor_cutis.

In [8]:
resultado3 = pd.read_sql_query("""select cor_cutis,count(*) from crime group by cor_cutis order by count(*) desc""",conn)

In [9]:
resultado3

               cor_cutis   count
0   Branca                794943
1                   NULL  454486
2   Parda                 267873
3   Preta                  49322
4   Outros                 20692
5   Amarela                14081
6   Vermelha                 482
7                     25       9
8                     24       8
9                     34       8
10                    32       7
11                    27       6
12                    18       5
13                    40       5
14                    29       4
15                    30       4
16                    37       4
17                    38       4
18                    53       4
19                    28       4
20                    44       4
21                    26       4
22                    21       4
23                    19       3
24                    39       2
25                    51       2
26                  None       2
27                    46       2
28                    43       2
29                    47       2
30                    41       2
31                    42       2
32                    20       2
33                    64       2
34                    33       2
35                    22       1
36                    49       1
37                    56       1
38                    95       1
39                    52       1
40                    57       1
41                    61       1
42                    55       1
43                    59       1
44                    79       1
45                    58       1
46                    31       1
47                    35       1
48                    48       1
49                    62       1
50                     8       1

#### Com esse teste rapidamente percebemos 3 coisas, primeira de aproximadamente 1.602.000 registros, 2 em cor_cutis são realmente nulos, segunda os campos verdadeiramente nulos estão com a String 'NULL' e somam cerca de 400 mil registros, terceira apareceram vários números, logo, não são cores da pele. Vamos tentar descobrir a causa disso, vamos seleconar os dados onde cor_cutis é igual aos números.

In [10]:
resultado4 = pd.read_sql_query("""select * from crime where not (cor_cutis like '%Branca%') and not (cor_cutis like '%Parda%') and cor_cutis not like '%Amarela%' and cor_cutis not like '%Vermelha%' and cor_cutis not like '%Preta%'  and cor_cutis not like '%Outros%' and cor_cutis is not null and cor_cutis not like '%NULL%'

""",conn)

In [11]:
resultado4

,id_delegacia,nome_departamento,nome_seccional,nome_delegacia,cidade,ano_bo,num_bo,nome_departamento_circ,nome_seccional_circ,nome_delegacia_circ,...,descr_subtipolocal,logradouro,numero_logradouro,latitude,longitude,descr_tipo_pessoa,flag_vitima_fatal,sexo_pessoa,idade_pessoa,cor_cutis
0,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,302,DECAP,DEL.SEC.1º CENTRO,01º D.P. SE,...,Metrov. e ferroviário metrop.-Desembarque ...,ENTRE BRAS/SÉ,DESEMBARQUE,999,-23.54938522,-46.63325723,Vítima,NULL,M,43
1,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2015,900016,DECAP,DEL.SEC.5º LESTE,30º D.P. TATUAPE,...,Metrov. e ferroviário metrop.-outros ...,ESTAÇÃO TATUAPÉ,MEZANINO AREA LIVRE,99,NULL,NULL,Vítima,NULL,M,55
2,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2015,900016,DECAP,DEL.SEC.5º LESTE,30º D.P. TATUAPE,...,Metrov. e ferroviário metrop.-outros ...,ESTAÇÃO TATUAPÉ,MEZANINO AREA LIVRE,99,NULL,NULL,Vítima,NULL,F,25
3,10217,DECAP,DEL.SEC.2º SUL,17º D.P. DOUTOR ALDO GALIANO,S.PAULO,2015,3505,DECAP,DEL.SEC.2º SUL,17º D.P. DOUTOR ALDO GALIANO,...,Via pública ...,RUA ISAURA ABAD GIACOMELLI,,87,NULL,NULL,Vítima,NULL,M,25
4,10217,DECAP,DEL.SEC.2º SUL,17º D.P. DOUTOR ALDO GALIANO,S.PAULO,2015,3505,DECAP,DEL.SEC.2º SUL,17º D.P. DOUTOR ALDO GALIANO,...,Via pública ...,RUA ISAURA ABAD GIACOMELLI,,87,NULL,NULL,Vítima,NULL,M,24
5,10226,DECAP,DEL.SEC.2º SUL,26º D.P. SACOMA,S.PAULO,2015,6687,DECAP,DEL.SEC.2º SUL,95º D.P. HELIÓPOLIS,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA ALMIRANTE DELAMARE,800,-23.60736817,-46.59262144,Vítima,NULL,F,51
6,10226,DECAP,DEL.SEC.2º SUL,26º D.P. SACOMA,S.PAULO,2015,6687,DECAP,DEL.SEC.2º SUL,95º D.P. HELIÓPOLIS,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA ALMIRANTE DELAMARE,800,-23.60736817,-46.59262144,Vítima,NULL,M,47
7,10226,DECAP,DEL.SEC.2º SUL,26º D.P. SACOMA,S.PAULO,2015,6687,DECAP,DEL.SEC.2º SUL,95º D.P. HELIÓPOLIS,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA ALMIRANTE DELAMARE,800,-23.60736817,-46.59262144,Vítima,NULL,F,79
8,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,2816,DECAP,DEL.SEC.1º CENTRO,06º D.P. CAMBUCI,...,Metrov. e ferroviário metrop.-vagão ...,ENTRE ESTA§ÃO S.JOAQUIM,LIBERDADE,999,-23.57806782,-46.6405597,Vítima,NULL,F,30
9,10248,DECAP,DEL.SEC.6º SANTO AMARO,48º D.P. CIDADE DUTRA,S.PAULO,2013,1372,DECAP,DEL.SEC.6º SANTO AMARO,101º D.P. JDIM IMBUIAS,...,Serralheria-Acesso,/Escada/Elevador/Passarela ...,R DR OSCAR ANDRADE LEMOS,910,-23.73392446,-46.69437827,Vítima,NULL,M,56
10,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2015,29,DECAP,DEL.SEC.1º CENTRO,78º D.P. JARDINS,...,Metrov. e ferroviário metrop.-vagão ...,ESTAÇÃO CONSOLAÇÃO/CLINICAS,INTERIOR DO,99,NULL,NULL,Vítima,NULL,F,24
11,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2015,221,DECAP,DEL.SEC.1º CENTRO,01º D.P. SE,...,Metrov. e ferroviário metrop.-outros ...,ESTAÇÃO GUIL,ESPERANCA/SE,99,NULL,NULL,Vítima,NULL,F,28
12,10342,DECAP,DEL.SEC.1º CENTRO,78º D.P. JARDINS,S.PAULO,2013,4438,DECAP,DEL.SEC.1º CENTRO,04º D.P. CONSOLAÇÃO,...,Via pública ...,R BELA CINTRA,PRÓX. DA R MATIAS AIRES,0,-23.55489934,-46.65683035,Vítima,NULL,F,34
13,10344,DECAP,DEL.SEC.6º SANTO AMARO,80º D.P. VILA JOANIZA,S.PAULO,2014,123,DECAP,DEL.SEC.6º SANTO AMARO,80º D.P. VILA JOANIZA,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,R PONTEIOS,66,-23.67901695,-46.65744418,Vítima,NULL,M,38
14,10367,DECAP,DEL.SEC.3º OESTE,93º D.P. JAGUARÉ,S.PAULO,2014,4355,DECAP,DEL.SEC.3º OESTE,93º D.P. JAGUARÉ,...,Via pública ...,PONTE DO JAGUA&#340,E,0,NULL,NULL,Vítima,NULL,F,24
15,10372,DECAP,DEL.SEC.6º SANTO AMARO,99º D.P. CAMPO GRANDE,S.PAULO,2014,3718,DECAP,DEL.SEC.6º SANTO AMARO,99º D.P. CAMPO GRANDE,...,Olaria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA INTERLAGOS,4300,-23.68540354,-46.69280304,Vítima,NULL,F,44
16,10375,DECAP,DEL.SEC.6º SANTO AMARO,102º D.P. SOCORRO,S.PAULO,2015,1913,DECAP,DEL.SEC.6º SANTO AMARO,102º D.P. SOCORRO,...,Metalúrgica-Acesso,/Escada/Elevador/Passarela ...,RUA VASSOURAL,315,-23.67724166,-46.70886718,Vítima,NULL,M,29
17,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,Sao Paulo,2014,363205,DECAP,DEL.SEC.4º NORTE,45º D.P. V BRASILANDIA,...,Outros ...,None,Rua Aparecida do Taboado,390,NULL,NULL,Vítima,NULL,F,42
18,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,491541,DECAP,DEL.SEC.1º CENTRO,04º D.P. CONSOLAÇÃO,...,Outros ...,None,Avenida Paulista,2163,NULL,NULL,Vítima,NULL,F,18
19,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,524279,DECAP,DEL.SEC.3º OESTE,75º D.P. JARDIM ARPOADOR,...,Outros ...,None,rua francisco luz,120,NULL,NULL,Vítima,NULL,M,21
20,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,856900,DECAP,DEL.SEC.3º OESTE,87º D.P. V. P. BARRETO,...,Outros ...,None,Rua dos Camarões,0,-23.44447445,-46.71465992,Vítima,NULL,F,30
21,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,956197,DECAP,DEL.SEC.2º SUL,97º D.P. AMERICANOPOLIS,...,Outros ...,rua,maria polidorio,0,NULL,NULL,Vítima,NULL,F,33
22,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1050601,DECAP,DEL.SEC.7º ITAQUERA,103º D.P. COHABII/ITAQU.,...,Outros ...,R,Botuporã,198,NULL,NULL,Vítima,NULL,M,30
23,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1119407,DECAP,DEL.SEC.4º NORTE,28º D.P. FREGUESIA DO O,...,Outros ...,None,Av. Dep. Emílio Carlos,3517,NULL,NULL,Vítima,NULL,M,53
24,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1149737,DECAP,DEL.SEC.3º OESTE,23º D.P. PERDIZES,...,Outros ...,None,Av. Dr. Arnaldo,715,NULL,NULL,Vítima,NULL,F,46
25,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1216938,DECAP,DEL.SEC.3º OESTE,15º D.P. DR. LUC. H BEIGUELMAN,...,Outros ...,None,Av. Brg. Luís Antônio,4469,NULL,NULL,Vítima,NULL,F,34
26,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1311526,DECAP,DEL.SEC.2º SUL,17º D.P. DOUTOR ALDO GALIANO,...,Outros ...,Av,Nazare,1361,NULL,NULL,Vítima,NULL,F,57
27,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1362253,DECAP,DEL.SEC.2º SUL,96º D.P. MONÇÕES,...,Outros ...,None,"R. Olimpíadas - Itaim Bibi, São Paulo",360,NULL,NULL,Vítima,NULL,F,25
28,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,1471769,DECAP,DEL.SEC.8º SAO MATEUS,70º D.P. VILA EMA,...,Outros ...,None,Avenida do Oratório,4330,NULL,NULL,Vítima,NULL,M,19
29,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,149749,DECAP,DEL.SEC.6º SANTO AMARO,99º D.P. CAMPO GRANDE,...,Outros ...,None,Avenida Sargento Geraldo SantAna,500,NULL,NULL,Vítima,NULL,F,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,544316,DECAP,DEL.SEC.6º SANTO AMARO,101º D.P. JDIM IMBUIAS,...,Outros ...,av,belmira marin,1000,-23.73943173,-46.69158615,Vítima,NULL,M,40
94,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,571929,DECAP,DEL.SEC.3º OESTE,14º D.P. PINHEIROS,...,Outros ...,av,nacoes unidas,2000,NULL,NULL,Vítima,NULL,F,32
95,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,1126104,DECAP,DEL.SEC.3º OESTE,87º D.P. V. P. BARRETO,...,Outros ...,RUA,RAIMUNDO PEREIRA DE MAGALHOES,2876,-23.48559307,-46.72435006,Vítima,NULL,F,25
96,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,1145768,DECAP,DEL.SEC.6º SANTO AMARO,11º D.P. SANTO AMARO,...,Outros ...,Rua,Dr. Ovídio Pires de Campos,225,-23.6493109,-46.70650902,Vítima,NULL,F,24
97,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,601724,DECAP,DEL.SEC.3º OESTE,07º D.P. LAPA,...,Outros ...,R,JOHN HARRISON,385,NULL,NULL,Vítima,NULL,F,39
98,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,350242,DECAP,DEL.SEC.6º SANTO AMARO,11º D.P. SANTO AMARO,...,Outros ...,None,"Avenida Washington Luís, s/nº",500,NULL,NULL,Vítima,NULL,M,18
99,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,357093,DECAP,DEL.SEC.7º ITAQUERA,65º D.P. ARTUR ALVIM,...,Outros ...,None,"Av José Pinheiro Borges - Itaquera, São",0,NULL,NULL,Vítima,NULL,F,40
100,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,640579,DECAP,DEL.SEC.7º ITAQUERA,50º D.P. ITAIM PAULISTA,...,Outros ...,r,taiati,51,NULL,NULL,Vítima,NULL,M,38
101,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,393244,DECAP,DEL.SEC.1º CENTRO,01º D.P. SE,...,Outros ...,,avenida Exteiror,0,NULL,NULL,Vítima,NULL,F,26
102,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,653828,DECAP,DEL.SEC.4º NORTE,13º D.P. CASA VERDE,...,Outros ...,,Rua João Rudge,340,NULL,NULL,Vítima,NULL,F,25
103,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,408543,DECAP,DEL.SEC.1º CENTRO,77º D.P. SANTA CECILIA,...,Outros ...,r,dona veridiana,0,NULL,NULL,Vítima,NULL,F,38
104,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2014,913075,DECAP,DEL.SEC.6º SANTO AMARO,11º D.P. SANTO AMARO,...,Outros ...,None,Praça Floriano Peixoto,0,-23.65226585,-46.7071346,Vítima,NULL,F,19
105,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,1309982,DECAP,DEL.SEC.4º NORTE,28º D.P. FREGUESIA DO O,...,Outros ...,Rua,Guaicurus,1438,-23.49725799,-46.70695084,Vítima,NULL,M,64
106,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2015,542280,DECAP,DEL.SEC.3º OESTE,14º D.P. PINHEIROS,...,Outros ...,None,Rua Rodésia,80,NULL,NULL,Vítima,NULL,F,25
107,10328,DECAP,DEL.SEC.7º ITAQUERA,64º D.P. CID.AE CARVALHO,S.PAULO,2016,4305,DECAP,DEL.SEC.7º ITAQUERA,62º D.P. ERMELINO MATARAZZO,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,AVENIDA AGUIA DE HAIA,4281,-23.50995504,-46.4775127,Vítima,NULL,M,61
108,20230,DECAP,DEL.SEC.5º LESTE,30º D.P. TATUAPE,S.PAULO,2016,1446,DECAP,DEL.SEC.4º NORTE,13º D.P. CASA VERDE,...,Metalúrgica-Acesso,/Escada/Elevador/Passarela ...,RUA URBANO DUARTE,732,-23.50440448,-46.65601203,Vítima,NULL,M,8
109,30129,DEMACRO,DEL.SEC.DIADEMA,04º D.P. DIADEMA,S.PAULO,2017,92,DECAP,DEL.SEC.6º SANTO AMARO,98º D.P. JARDIM MIRIAM,...,Vidraria-Acesso,/Escada/Elevador/Passarela ...,RUA DO RETIRO,0,-23.69369886,-46.64041038,Vítima,NULL,M,25
110,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,261711,DECAP,DEL.SEC.1º CENTRO,12º D.P. PARI,...,Outros ...,Av,Rangel Pestana,1000,-23.54140251,-46.61676681,Vítima,NULL,F,62
111,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,2245,DECAP,DEL.SEC.4º NORTE,28º D.P. FREGUESIA DO O,...,Outros ...,Rua Ferraz de Vasconcelos,,0,-23.4825201,-46.67749205,Vítima,NULL,M,37
112,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,524009,DECAP,DEL.SEC.8º SAO MATEUS,66º D.P. JDIM ARICANDUVA,...,Outros ...,AV,ARICANDUVA,5000,-23.57613021,-46.50190039,Vítima,NULL,M,34
113,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,319932,DECAP,DEL.SEC.3º OESTE,46º D.P. PERUS,...,Outros ...,rua,ernesto botoni,78,-23.4133936,-46.73206178,Vítima,NULL,M,43
114,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,749929,DECAP,DEL.SEC.6º SANTO AMARO,85º D.P. JARDIM MIRNA,...,Outros ...,Rua Maria Santos Ferreira,,87,-23.76813341,-46.69608125,Vítima,NULL,F,21
115,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,896461,DECAP,DEL.SEC.3º OESTE,91º D.P. CEASA,...,Outros ...,Av. das Na,óes Unidas,1800,-23.52042777,-46.74609038,Vítima,NULL,F,21
116,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,264210,DECAP,DEL.SEC.8º SAO MATEUS,66º D.P. JDIM ARICANDUVA,...,Outros ...,rua,Arturo Martini,309,-23.57613021,-46.50190039,Vítima,NULL,F,28
117,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,482967,DECAP,DEL.SEC.5º LESTE,58º D.P. VILA FORMOSA,...,Outros ...,RUA,CATANDUVA,81,-23.55774139,-46.52587695,Vítima,NULL,F,31
118,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,657487,DECAP,DEL.SEC.8º SAO MATEUS,55º D.P. PARQUE S.RAFAEL,...,Outros ...,Rua,Teodosio da Rocha,198,-23.6247067,-46.47132469,Vítima,NULL,F,29
119,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,374095,DECAP,DEL.SEC.6º SANTO AMARO,101º D.P. JDIM IMBUIAS,...,Outros ...,rua,terezine,189,-23.73301568,-46.69668898,Vítima,NULL,M,27
120,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,564947,DECAP,DEL.SEC.5º LESTE,29º D.P. VILA PRUDENTE,...,Outros ...,av,Cerejeiras,888,-23.5743212,-46.56943933,Vítima,NULL,F,34
121,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2017,341974,DECAP,DEL.SEC.6º SANTO AMARO,102º D.P. SOCORRO,...,Outros ...,None,Rua Amaro Velho,200,-23.66679897,-46.72312032,Vítima,NULL,F,21
122,900020,DIPOL - DEPTO DE INTELIGENCIA,DELEGACIA ELETRONICA,DELEGACIA ELETRONICA,S.PAULO,2016,1582564,DECAP,DEL.SEC.6º SANTO AMARO,11º D.P. SANTO AMARO,...,Outros ...,avenida,padre jose maria,400,-23.65366076,-46.71689195,Vítima,NULL,M,48

#### Perceba que a linha por algum motivo deu um SHIFT na hora do ETL e corrompeu esses dados, ou seja, a idade está em cor_cutis, como achamos esse resultado no último atributo, todas as linhas afetadas por esse shift estão presentes, logo apagaremos todas essas linhas da nossa base de dados, juntamente com as linhas onde 'cor_cutis' = "NULL".

In [14]:
resultado5 = pd.read_sql_query("""delete from crime where not (cor_cutis like '%Branca%') and not (cor_cutis like '%Parda%') and cor_cutis not like '%Amarela%' and cor_cutis not like '%Vermelha%' and cor_cutis not like '%Preta%'  and cor_cutis not like '%Outros%'""",conn)

TypeError: 'NoneType' object is not iterable

In [15]:
resultado5

NameError: name 'resultado5' is not defined

#### Agora vamos analisar outras colunas que requerem uma formatação especial, por exemplo, a coluna hora_ocorrencia_bo que registra a hora da ocorrencia de um bo e está em um formato txt.

In [21]:
resultado6 = pd.read_sql_query("""select hora_ocorrencia_bo,count(*) from crime group by hora_ocorrencia_bo order by count(*) desc""",conn)

In [22]:
resultado6

     hora_ocorrencia_bo   count
0                  NULL  436156
1                 20:00   27572
2                 21:00   27108
3                 22:00   25592
4                 19:00   24374
5                 20:30   22071
6                 23:00   21563
7                 14:00   20973
8                 15:00   20405
9                 21:30   20059
10                12:00   19848
11                16:00   19654
12                19:30   19626
13                18:00   19199
14                13:00   18666
15                22:30   18648
16                11:00   17871
17                17:00   17757
18                10:00   17428
19                18:30   16672
20                23:30   15105
21                09:00   14173
22                11:30   14074
23                15:30   14064
24                12:30   13858
25                13:30   13697
26                14:30   13420
27                06:00   13345
28                10:30   13235
29                17:30   13215
...                 ...     ...
1414              05:24      29
1415              03:52      29
1416              05:29      28
1417              03:19      28
1418              04:53      28
1419              05:54      28
1420              04:09      28
1421              03:01      27
1422              05:44      27
1423              02:29      27
1424              03:39      26
1425              02:43      26
1426              04:01      25
1427              04:14      24
1428              05:01      24
1429              03:51      24
1430              06:01      23
1431              03:53      23
1432              03:31      23
1433              03:54      22
1434              05:14      22
1435              04:33      22
1436              04:22      21
1437              04:02      20
1438              04:21      18
1439              04:41      18
1440              05:09      16
1441              15H50       2
1442              23H00       2
1443               1910       1

[1444 rows x 2 columns]

#### Ao final do resultado6, observamos que aparecem alguns dados em formato impróprio para a manipulação no banco de dados, agora faremos uma verificação se são os unicos casos em que isso ocorre ou se existem outros casos com mais número de registros onde isso ocorre, ou seja, onde hora_ocorrencia_bo é diferente de String 'NULL' e diferente de formato 12:00.

In [29]:
resultado7 = pd.read_sql_query("""select hora_ocorrencia_bo from crime where hora_ocorrencia_bo not like '%:%' and hora_ocorrencia_bo not like 'NULL'""",conn)

In [30]:
resultado7

  hora_ocorrencia_bo
0              15H50
1              15H50
2               1910
3              23H00
4              23H00

#### Como existem poucos dados que foram inseridos com uma formatação inadequada, faremos 3 alterações para mudar os valores desse atributo para o formato correto

In [33]:
pd.read_sql_query("""update crime set hora_ocorrencia_bo = '15:50' where hora_ocorrencia_bo = '15H50' """,conn)

TypeError: 'NoneType' object is not iterable

In [ ]:
resultado8

In [17]:
resultado6 = pd.read_sql_query("""select hora_ocorrencia_bo from crime where hora_ocorrencia_bo like '%:%' """,conn)

In [19]:
resultado6

        hora_ocorrencia_bo
0                    06:20
1                    06:10
2                    05:30
3                    12:05
4                    05:50
5                    23:20
6                    06:45
7                    14:30
8                    20:00
9                    05:30
10                   15:00
11                   18:00
12                   07:30
13                   07:00
14                   18:00
15                   08:20
16                   08:40
17                   11:15
18                   07:30
19                   09:20
20                   11:20
21                   15:20
22                   12:35
23                   08:00
24                   16:40
25                   10:45
26                   18:07
27                   21:15
28                   12:50
29                   07:15
...                    ...
1018357              21:30
1018358              23:50
1018359              19:30
1018360              18:45
1018361              08:00
1018362              16:30
1018363              23:30
1018364              16:30
1018365              21:40
1018366              14:00
1018367              07:00
1018368              13:15
1018369              16:20
1018370              00:00
1018371              22:55
1018372              13:00
1018373              05:30
1018374              09:00
1018375              08:30
1018376              06:00
1018377              10:30
1018378              13:00
1018379              10:30
1018380              20:00
1018381              00:10
1018382              00:30
1018383              08:30
1018384              13:00
1018385              09:00
1018386              18:00

[1018387 rows x 1 columns]

In [ ]:
resultado['hora_ocorrencia_bo'] = pd.to_datetime(resultado['hora_ocorrencia_bo'])

In [ ]:
resultado['hora_ocorrencia_bo'] = pd.to_datetime(resultado['hora_ocorrencia_bo'], format= '%H:%M').dt.time

## Formatando o horario

In [ ]:
resultado